<h1>Terms</h1>
<ul>
    <% legislature.terms.each do |term| %>
    <li><a href="/term/<%= params['country'] %>/<%= legislature.house_item_id %>/<%= term.term_item_id %>/<%= term.position_item_id || legislature.position_item_id %>?languages=<%= config.languages.join(',') %>&number_of_seats=<%=legislature.number_of_seats %>"><%= term.comment %></a></li>

    <% end %>
</ul>
