<!DOCTYPE html>
<html>
<head>
    <title>Term</title>
</head>
<body>
<header>
    Commons Explorer
</header>
<article>
    <h1>Term</h1>

    <table>
        <thead>
        <tr>
            <th colspan="{{ config.languages.size }}">Person</th>
            <th colspan="{{ config.languages.size }}">Party</th>
            <th rowspan="2">Start</th>
            <th rowspan="2">End</th>
            <th rowspan="2">Facebook</th>
        </tr>
        <tr>
            {% for language in languages %}
            <th>{{ language }}</th>
            {% endfor %}
            {% for language in languages %}
            <th>{{ language }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>{% for membership in memberships %}
        <tr>
            {% for name in membership.person.name %}
            <td>{{ name }}</td>
            {% endfor %}
            {% for name in membership.on_behalf_of.name %}
            <td>{{ name }}</td>
            {% endfor %}
            <td>{{ membership.start_date }}</td>
            <td>{{ membership.end_date }}</td>
            <td>{% for link in membership.person.links %}<a href="{{ link.url }}">{{ link.url }}</a> {% endfor %}</td>
        </tr>{% endfor %}

        </tbody>
    </table>
</article>

</body>
</html>